section {
  max-width: 900px;
  margin: auto;
}

section h1 {
  color: #fff;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

section p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

section form {
  margin-top: 2rem;
}

section form input {
  margin-top: 0.5rem;
}

#congratulation-banner {
  margin-top: 1.5rem;
  width: 100%;
}