* {
  font-family: "Mulish";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  background-color: #08090c;
  padding: 8.5rem;
  position: relative;
  overflow: visible !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 6rem;
  padding-bottom: 0;
}

.hero-section h2 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #bdbdbd;
  margin-top: 1.25rem;
}

.hero-section--ml {
  background: radial-gradient(
    60.02% 112.53% at 58.13% 32.32%,
    #0b335d 0%,
    #041048 64%,
    #01013f 100%
  );

}

.hero-section--web {
  padding-bottom: 5rem;
}

.hero-section--web > .hero-section__pane-2  {
  position: relative;
}

.hero-section--web > .hero-section__pane-2 > img:nth-child(1) {
  width: 100%;
  position: absolute;
  top: 25%;
}

.hero-section--web > .hero-section__pane-2 > img:nth-child(2),
.hero-section--web > .hero-section__pane-2 > img:nth-child(3),
.hero-section--web > .hero-section__pane-2 > img:nth-child(4),
.hero-section--web > .hero-section__pane-2 > img:nth-child(5) {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: #15171e;
}

.hero-section--web > .hero-section__pane-2 > img:nth-child(2) {
  top: 75%;
  left: 2%;
}

.hero-section--web > .hero-section__pane-2 > img:nth-child(3) {
  top: 50%;
  left: 50%;
}

.hero-section--web > .hero-section__pane-2 > img:nth-child(4) {
  top: 100%;
  left: 50%;
}

.hero-section--web > .hero-section__pane-2 > img:nth-child(5) {
  top: 75%;
  left: 90%;
}


.hero-section__extra-info {
  background: #1c1e25;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  width: 30%;
  padding: 1.25rem 1.75rem;

  position: absolute;
  bottom: -2rem;
}

.hero-section__extra-info__container {
  display: flex;
  flex-direction: column;
}

.hero-section__extra-info__container:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.hero-section__extra-info__title {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #e0e0e0;
}

.hero-section__extra-info__subtitle {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #bdbdbd;
  margin-top: 0.375rem;
}

.hero-section .trophy {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.hero-section .trophy > p {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #ffffff;
  margin: 0;
  margin-left: 1rem;
}

.hero-section img {
  display: block;
}

.hero-section a {
  display: inline-block;
  background: linear-gradient(90deg, #ff6e3f 0%, #ff5634 100%);
  border-radius: 6px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #ffffff;
  padding: 1rem 2rem;
  margin-top: 4rem;
}

/* why join section ------- */

.why-join-section {
  padding: 5rem;
}

.why-join-section > h2 {
  font-size: 1.25rem;
  line-height: 2rem;
  color: #ffffff;
  margin-bottom: 3.25rem;
}

.why-join-section__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
}

.why-join-section__card {
  background: #1c1e25;
  border-radius: 12px;
  padding: 2rem;
  position: relative;
}

.why-join-section__logo-div {
  position: absolute;
  top: -1.5rem;

  width: 3.5rem;
  height: 3.5rem;
  background: #08090c;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.why-join-section__logo-div > img {
  width: 100%;
  height: 100%;
}

.why-join-section__card > h3 {
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #ffffff;
  margin-top: 1.5rem;
}

.why-join-section__card > p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #bdbdbd;
  margin-top: 2rem;
}

/* placement status section ------ */
.place-status-section {
  padding: 5rem;
  background: url("../img/grid-mesh.svg");
  background-color: #08090c;
}

.place-status-section h3 {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #ffffff;
}

.place-status-section h4 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #bdbdbd;
  margin-bottom: 3rem;
}

.place-status-section__container {
  display: grid;
  grid-template-columns: 2fr 6fr;
  gap: 3rem;
}

.place-status-section__logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.place-status-section__logos > img {
  justify-self: center;
  align-self: center;
  width: 100%;
  height: auto;
}

.place-status-section__info-card {
  background: #1c1e25;
  border-radius: 8px;
  padding: 0.8rem 1.25rem;
  margin-bottom: 2rem;
}

.place-status-section__info-card > p {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #bdbdbd;
}

.place-status-section__info-card > div {
  display: flex;
  align-items: center;
}

.place-status-section__info-card > div > span {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
  display: inline-block;
  margin-right: 1.5rem;
}

/* who this program section ------ */
.who-this-program-section {
  padding: 5rem;
  background: #000000;
}

.who-this-program-section h3 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #ffffff;
}

.who-this-program-section h4 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #bcbcbc;
}

.who-this-program-section__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 4rem;
  gap: 4.5rem;
}

.who-this-program-section__card {
  background: #15171e;
  border-radius: 14px;
  padding: 2rem;
}

.who-this-program-section__card > img {
  width: 2rem;
  height: 2rem;
}

.who-this-program-section__card > p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #ffffff;
  margin-top: 2rem;
}

/* financing-section ------ */
.financing-section {
  padding: 5rem;
}

.financing-section > h3 {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 150%;
  color: #ffffff;
}

.financing-section > h3 {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #ffffff;
}

.financing-section > h4 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #e0e0e0;
}

.financing-section__cards {
  margin-top: 5.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.financing-section__card {
  border-radius: 12px;
  padding: 2.625rem;
}

.financing-section__card--purple {
  background: linear-gradient(180deg, #bb6bd9 0%, #7f39ad 100%);
}

.financing-section__card--black {
  background: #1c1e25;
}

.financing-section__card-header > h5 {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 150%;
  color: #ffffff;
  text-align: center;
}

.financing-section__card-header > p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  color: #e0e0e0;
  margin-top: 1.3rem;
}

.financing-section__card-footer > a {
  background: #ffffff;
  border-radius: 12px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  color: #15171e;
  display: inline-block;
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
}

.financing-section__card-footer {
  margin-top: 4.8rem;
}

.financing-section__card-footer-title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  color: #ffffff;
}

.financing-section__card-footer-price {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  color: #ffffff;
}

.financing-section__card-footer-extra {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  text-align: center;
  color: #ffffff;
}

/* projects section  ---- */

.projects-section {
  background: #1a1c25;
}

.projects-section h2 {
  display: flex;
  align-items: center;
  margin-bottom: 3.625rem;
}

.projects-section h2 > img {
  width: 1.5rem;
  height: 1.5rem;
}
.projects-section h2 > span {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #ffffff;
  display: inline-block;
  margin-left: 0.5rem;
}

.projects-section__card {
  background: #15171e;
  border: 0.8px solid #000000;
  border-radius: 14px;
  padding: 2.5rem;
}

.projects-section__card > div {
  display: flex;
  align-items: center;
}

.projects-section__card > div > span {
  display: inline-block;
  background: linear-gradient(90deg, #fb8530 0%, #feb50b 100%);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
}

.projects-section__card > div > h4 {
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #f2f2f2;
  margin-bottom: 0;
  margin-left: 0.75rem;
}

.projects-section__card > p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #bdbdbd;
  margin-top: 1.125rem;
}
/* end of projects section  ---- */

/* certificate-section ---- */
.cert-section {
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 11rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cert-section h3 {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 4rem;
}

.cert-section h4 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 1.375rem;
}

.cert-section p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #bdbdbd;
  margin-bottom: 3.375rem;
}

.cert-section__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.75rem;
}

.cert-section__list-item > img {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999px;
  padding: 0.3rem;
  background: linear-gradient(180deg, #34a866 0%, #087d4c 100%);
}

.cert-section__list-item > p {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #f2f2f2;
  margin-bottom: 0;
  margin-left: 1rem;
}

.cert-section__pane-2 img {
  background: #1a1c25;
  border-radius: 11.4923px;
  padding: 1rem 5rem;
}

/* batches-section-------- */
.batches-section {
  padding: 5rem;
  background: #000000;
}

.batches-section > h3 {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 150%;
  color: #ffffff;
}

.batches-section > h4 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
  margin-top: 3.5rem;
}

.batches-section > table {
  background: #1c1e25;
  border-radius: 12px;
  width: 100%;
}

.batches-section > table th,
.batches-section > table td {
  padding: 1.75rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.batches-section > table th {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  color: #bdbdbd;
}

.batches-section > table td {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  color: #ffffff;
}

.batches-section > table td > span {
  font-weight: 600;
  font-size: 0.64rem;
  line-height: 150%;
  color: #ffffff;
  background: linear-gradient(90deg, #ff6e3f 0%, #ff5634 100%);
  padding: 0.2rem 0.5rem;
  border-radius: 9999px;
  display: inline-block;
  margin-right: 1rem;
}

.batches-section > table td > a {
  background: linear-gradient(90deg, #ff6e3f 0%, #ff5634 100%);
  border-radius: 6px;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  color: #f2f2f2;
  padding: 0.875rem 2rem;
}

/* syllabus-section ----- */
.syllabus-section {
  padding: 5rem;
}

.syllabus-section > h3 {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 150%;
  color: #ffffff;
}

.syllabus-section > h4 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  color: #bdbdbd;
}

.syllabus-section__subheading {
  display: flex;
  align-items: center;
}

.syllabus-section__subheading > img {
  width: 4rem;
  height: 4rem;
}

.syllabus-section__subheading > p {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #f2f2f2;
  margin-bottom: 0;
  margin-left: 1rem;
}

.syllabus-section__panes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.875rem;
}

.syllabus-section__pane-1 button {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  border: none;
  padding: 0.75rem 1.75rem;
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.syllabus-section__pane-1__tab-title {
  background: #1c1e25;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  cursor: pointer;
  margin-top: 1rem;
}

.syllabus-section__pane-1__tab-title--active {
  background: linear-gradient(94.95deg, #6809d9 3.14%, #430cd7 100%);
  box-shadow: 0px 15px 32px rgba(0, 0, 0, 0.2);
}

.syllabus-section__pane-1__tab-title > span {
  font-weight: 700;
  font-size: 1rem;
  line-height: 111.5%;
  color: #ffffff;
  flex: 1;
}

.syllabus-section__pane-1__tab-content {
  transition: max-height 0.3s ease-out;
  max-height: 0;
  overflow: hidden;
}

.syllabus-section__pane-1__tab-content > div {
  border-left: 1px solid #fb8133;
  padding: 3.25rem 0rem 0rem 2rem;
  margin-left: 2rem;
  position: relative;
}

.syllabus-section__pane-1__tab-content > div > span {
  position: absolute;
  top: 3.25rem;
  left: -0.5rem;
  width: 1rem;
  height: 1rem;
  background: #1c1e25;
  border: 1px solid #fb8133;
  border-radius: 9999px;
}

.syllabus-section__pane-1__tab-content > div > h6 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 111.5%;
  color: #ffffff;
}

.syllabus-section__pane-1__tab-content > div > p {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: #bdbdbd;
  margin-bottom: 0;
}

.syllabus-section__pane-1 button > span {
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #ffffff;
  display: inline-block;
  margin-left: 1rem;
}

.syllabus-section__pane-1__header {
  background: #1c1e25;
  border-radius: 12px;
  padding: 1.5rem 2rem;
}

.syllabus-section__pane-1__header > h5 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 111.5%;
  color: #ffffff;
}

.syllabus-section__pane-1__header > p {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: #bdbdbd;
}

.syllabus-section__pane-1__line {
  /* background-color: red; */
  width: 2rem;
}

.syllabus-section__pane-1__cards {
  border-left: 1.5px solid #fb8133;
  margin-left: 2rem;
  position: relative;
}

.syllabus-section__pane-1__cards-backdrop {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: linear-gradient(180deg, rgba(21, 23, 30, 0) 0%, #15171e 100%);
}

.syllabus-section__pane-1__card {
  padding: 4rem;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.syllabus-section__pane-1__card-circle {
  border: 1.5px solid #fb8133;
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  position: absolute;
  top: 32%;
  left: -0.55rem;
  background: #15171e;
}

.syllabus-section__pane-1__card h5 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 111.5%;
  color: #ffffff;
}

.syllabus-section__pane-1__card p {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.25rem;
  color: #bdbdbd;
}
/* end of syllabus-section ----- */
